@model IEnumerable<Department>

<h2>Departments</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
                </td>
            </tr>
        }
    </tbody>
</table>